<div class="clearfix">
  <a href="/guide" class="right">Guide</a>
  <a href="/gallery" class="right">Gallery</a>
</div>

<h1 class="mfb">Gallery of Sample Records</h1>

<div class="mpb">
  <p>Taken mostly from Jeff's history (anonymized for privacy). Sumbit yours <a href="mailto:hi@jeff.is">here</a>.</p> 
</div>

<div class="mfb">
  <cat raw="'workout'" hue="200"></cat>
  <cat raw="'run'" hue="200"></cat>
  <cat raw="'4.2 miles'" hue="200"></cat>
  <cat raw="'Presidio'" hue="200"></cat>
</div>

<div class="mfb">
  <cat raw="'restaurant'" hue="200"></cat>
  <cat raw="'Central Kitchen'" hue="200"></cat>
  <cat raw="'Mission'" hue="200"></cat>
</div>

<div class="mfb">
  <cat raw="'laundry'" hue="200"></cat>
</div>

<div class="mfb">
  <cat raw="'haircut'" hue="200"></cat>
  <cat raw="'Barber Shop'" hue="200"></cat>
</div>

<div class="mfb">
  <cat raw="'party'" hue="200"></cat>
  <cat raw="'2 drinks'" hue="200"></cat>
  <cat raw="'Fireball Whiskey'" hue="200"></cat>
</div>
