<%= render 'shared/guidenav' %>

<section class="mhb">
  <h2>Contact</h2>
  <p>My name is Jeff Carpenter. I made this. I want to hear what you think. My twitter is <a href="https://twitter.com/jcarp">@jcarp</a> and my email is <a href="mailto:hi@jeff.is">hi@jeff.is</a></p>
</section>

<section class="mhb">
  <h2>Privacy</h2>
  <p>Until I complete the tasks below, please do not rcrd anything that would be devastating if made public.</p> 
  <ul>
    <li>I need to set up HTTPS.</li>   
    <li>I need to encrypt records stored in the database.</li>
  </ul>
</section>

