<div id="top-half">
</div>
<div id="bottom-half">
  <h1><strong>rcrd</strong> is an anything tracker.</h1>
  <nav id="links">
    <ul>
      <li><a href="/sign-up">sign up</a></li>
      <li><a href="/log-in">log in</a></li>
      <li><a href="/guide">guide</a></li>
    </ul>
  </nav>
</div>
