html {
  width: 100%;
  height: 100%;
}

body#frontpage {
  background-repeat: no-repeat;
  background-attachment: center;
  background-position: center; 
  background-image: url('http://farm8.staticflickr.com/7444/9549983349_7d02e9950b_h.jpg'); 
  background-size: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  color: white;
  header {
    color: white;
  }
  #top-half {
    position: absolute;
    height: 50%;
    width: 100%;
    top: 0;
    .inner {
      max-width: 600px;
      margin: 0 auto;
      #block-chart {
        margin: 5em 0 0;
      }
    }
  }
  #bottom-half {
    background-color: rgba(1, 1, 1, 0.7);
    position: absolute;
    height: 50%;
    width: 100%;
    top: 50%;
    h1 {
      font-family: "Myriad Pro";
      font-size: 36px;
      font-weight: lighter;
      text-align: center;
      margin: .8em 0;
    }
    nav {
      ul {
        margin: 0;
        list-style: none;
        text-align: center;
        li {
          display: inline-block;
          padding: 0 1.4em;
          a {
            color: white;
            font-weight: bold;
            font-size: 16px;
            &:hover {
              color: #ddd;
            }
          }
        }
      }
    }
  }
}
