<!--
<h1>Cats</h1>
<div class="input-wrap mft mkb">
  <input type="text" placeholder="search cats">
</div>
-->

<h2 class="mfb">100 Most frequently used cats</h2>

<div class="mfb">
  <%= form_tag "/cats/search" do %>
    <div class="input-wrap">
      <%= text_field_tag "query", "", {
        placeholder: "cat search...", 
        id: "cat-search"} %>
    </div>
    <%= submit_tag "Search" %>
  <% end %>
</div>

<% @cats.each do |cat| %>
  <%= render :partial => "shared/cat", :locals => {:cat => cat, :hue => hue_now} %>
<% end %>
