<div class="margin-bottom">
  <div>
    <%= render partial: "shared/cat", locals: {cat: @cat, size: "hefty"} %>
  </div>
</div>

<%= render partial: "form" %>

<%= render partial: "shared/records", locals: {records: @cat.records} %>
